{% extends 'user/base.html' %}
{% block title %}
Keranjang
{% endblock %}
{% set Navbar = True %}
{% set footer = True %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

{% block content %}
<!-- cart + summary -->
<section class=" my-5" id="cartSection">
    <div class="container">
        <div class="row">
            {% if cart_items %}
            <!-- cart -->
            <div class="col-lg-8" id="cart-section">
                <div class="card shadow p-4 rounded-4 mb-5">
                    <div class="m-4">
                        <h4 class="card-title mb-4">Keranjang Saya</h4>
                        {% for items in cart_items %}
                        <div class="row gy-3 mb-4 cart-items">
                            <div class="col-lg-8">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="{{ url_for('image.image', image_id=items.product.id) }}"
                                        alt="{{ items.product.produkNama }}" class="border rounded me-3"
                                        style="width: 96px; height: 96px;" />

                                    <div class="d-block d-md-flex justify-content-between w-100">
                                        <div>
                                            <p class="fw-bold mb-0">{{ items.product.produkNama }}</p>
                                            <p class="text-muted mb-0">
                                                ( {{ items.product.kategori.kategoriNama }}
                                                {% if items.variant %}
                                                - {{ items.variant }}
                                                {% endif %}
                                                )
                                            </p>
                                        </div>
                                        <div class="">
                                            <text class="h6">
                                                {{ (items.quantity * items.product.produkHarga) | idr }}
                                            </text>
                                            <br />
                                            <small class="text-muted text-nowrap">
                                                {{ items.product.produkHarga | idr }} / pcs
                                            </small>
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                                <div class="d-flex align-items-center justify-content-between">
                                    <!-- Form untuk mengurangi kuantitas -->
                                    <form id="form_decrement_{{ items.product.id }}"
                                        action="{{ url_for('main.update_quantity', product_id=items.product.id) }}"
                                        method="POST" class="d-inline">
                                        <input type="hidden" name="action" value="decrement">
                                        <!-- Variant input is included only if variant exists -->
                                        <input type="hidden" name="variant"
                                            value="{{ items.variant if items.variant else '' }}">
                                        <button type="submit"
                                            class="btn btn-sm rounded-pill btn-danger text-white border" {% if
                                            items.quantity <=items.product.minPembelian %} disabled {% endif %}>
                                            <i class='bx bx-minus'></i>
                                        </button>
                                    </form>

                                    <!-- Form for Quantity Input -->
                                    <form id="form_update_{{ items.product.id }}"
                                        action="{{ url_for('main.update_quantity', product_id=items.product.id) }}"
                                        method="POST" class="d-inline mx-2">
                                        <input type="hidden" name="action" value="update">
                                        <input id="quantity_{{ items.product.id }}" type="number" name="quantity"
                                            value="{{ items.quantity }}" min="{{ items.product.minPembelian }}"
                                            class="form-control text-center qty border-0 d-inline" style="width: 80px;">
                                        <!-- Variant input is included only if variant exists -->
                                        <input type="hidden" name="variant"
                                            value="{{ items.variant if items.variant else '' }}">
                                    </form>

                                    <!-- Form for Increment Quantity -->
                                    <form id="form_increment_{{ items.product.id }}"
                                        action="{{ url_for('main.update_quantity', product_id=items.product.id) }}"
                                        method="POST" class="d-inline">
                                        <input type="hidden" name="action" value="increment">
                                        <!-- Variant input is included only if variant exists -->
                                        <input type="hidden" name="variant"
                                            value="{{ items.variant if items.variant else '' }}">
                                        <button type="submit"
                                            class="btn btn-primary btn-sm rounded-pill text-white border">
                                            <i class='bx bx-plus'></i>
                                        </button>
                                    </form>



                                    <div class="mx-2">
                                        <!-- Delete Button -->
                                        <form id="form_delete_{{ items.product.id }}"
                                            action="{{ url_for('main.cart_delete', product_id=items.product.id) }}"
                                            method="POST" class="d-inline">
                                            <!-- Variant input is included only if variant exists -->
                                            <input type="hidden" name="variant"
                                                value="{{ items.variant if items.variant else '' }}">
                                            <button type="submit" class="btn btn-danger btn-sm rounded-pill text-white">
                                                <i class="bx bx-trash"></i>
                                            </button>
                                        </form>

                                    </div>

                                </div>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- cart -->

            <!-- summary -->
            <div class="col-lg-4 col-12 mb-5">
                <div class="card shadow p-4 rounded-4 mb-5">
                    <div class="mb-4 checkout-form">
                        <!-- Delivery Option Form -->
                        <div class="mb-4">
                            <form id="deliveryOptionForm" method="POST"
                                action="{{ url_for('main.create_transaction') }}">
                                <!-- Select Delivery Date -->
                                <div id="delivery-date-selection" class="mb-4">
                                    <h5>Pilih Tanggal Pengiriman</h5>
                                    <div class="row">
                                        <!-- Input Tanggal Pengiriman -->
                                        <div class="col-md-6">
                                            <label for="delivery-date" class="form-label">Tanggal</label>
                                            <input type="date" class="form-control" name="delivery_date"
                                                id="delivery-date" required placeholder="Pilih Tanggal Pengiriman">
                                        </div>

                                        <!-- Input Jam Pengiriman -->
                                        <div class="col-md-6">
                                            <label for="delivery-time" class="form-label">Jam </label>
                                            <input type="time" class="form-control" id="delivery-time"
                                                name="delivery_time" required placeholder="Pilih Jam Pengiriman">
                                        </div>
                                    </div>

                                </div>

                                <h5 class="mb-2">Pilih Metode Pengiriman</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="delivery_option"
                                        id="pickup_store" value="pickup" checked>
                                    <label class="form-check-label" for="pickup_store">
                                        Ambil di Toko
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="delivery_option"
                                        id="delivery_address" value="delivery">
                                    <label class="form-check-label" for="delivery_address">
                                        Kirim ke Alamat
                                    </label>
                                </div>
                                <div id="address-selection" class="mt-3" style="display: none;">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h5>Pilih Alamat</h5>
                                        <!-- Add Address Button -->
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                            data-bs-target="#addAddressModal">
                                            Tambah Alamat
                                        </button>
                                    </div>

                                    {% if addresses|length > 0 %}
                                    <select class="form-control mt-2" name="address_index" id="address-select">
                                        {% for address in addresses %}
                                        <option value="{{ loop.index0 }}"
                                            style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 250px;">
                                            {{ address.address_type }} - {{ address.full_address }}</option>
                                        {% endfor %}
                                    </select>
                                    {% else %}
                                    <p class="text-danger mt-2">Silakan tambahkan alamat.</p>
                                    {% endif %}
                                </div>
                        </div>

                        <div id="summarry">
                            <div class="d-flex justify-content-between ">
                                <h6>Total :</h6>
                                <h6 id="subtotal">{{ total_price | idr }}</h6>
                            </div>

                            <div class="d-flex justify-content-between text-lg text-muted">
                                <h6>Biaya PPN (11%) :</h6>
                                <h6 id="ppnCost" class="text-end">{{ (total_price * 0.11) | idr }}</h6>
                            </div>
                        </div>
                        <!-- Totals Section -->


                        <div class="d-flex justify-content-between text-lg text-muted">
                            <h6>Ongkir :</h6>
                            <h6 id="shippingCost">{{ shipping_cost | idr}}</h6>
                        </div>

                        <div class="border border-1 mb-4"></div>
                        <div id="grandTotal">
                            <!-- Grand Total Section -->
                            <div class="d-flex justify-content-between text-lg fw-bold fs-4 text-black">
                                <h5>Grand Total :</h5>
                                <h5>{{ (total_price + (total_price * 0.11 + shipping_cost)) | idr }}</h5>
                            </div>

                        </div>

                        <!-- Checkout Button -->

                        <button class="btn btn-primary btn-lg w-100 mt-4" id="checkoutButton" disabled>
                            Checkout ( {{ cart_items|length }} )
                        </button>
                        </form>


                    </div>
                </div>
            </div>
            <!-- summary -->
            {% else %}
            <div class="text-center py-5">
                <i class='bx bx-cart-alt' style="font-size: 5rem; color: var(--bs-secondary);"></i>
                <h4 class="text-muted mt-3">Keranjang Kosong</h4>
                <a href="{{ url_for('main.shop') }}" class="btn btn-primary mt-4 px-4 py-2 rounded-pill shadow-sm">
                    <i class="bx bx-shopping-bag"></i> Belanja Sekarang
                </a>
            </div>

            {% endif %}
        </div>
    </div>

</section>
<!-- cart + summary -->


<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js"
    data-client-key="{{client_key}}"></script>
<script>

    $(document).ready(function () {
        // Handle the form submission via AJAX
        $('form[id^="form_delete_"]').on('submit', function (e) {
            e.preventDefault();  // Prevent the default form submission

            var form = $(this);
            var actionUrl = form.attr('action');  // URL to delete the cart item
            var formData = form.serialize();  // Get form data, including product and variant

            $.ajax({
                type: "POST",
                url: actionUrl,
                data: formData,
                success: function (response) {
                    if (response.success) {
                        // Reload the entire page after successful deletion
                        location.reload();  // This will refresh the entire page
                    } else {
                        // Show error message if something goes wrong
                        alert('Error: ' + response.error);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    alert('An error occurred. Please try again.');
                }
            });
        });
    });

    function bindFormSubmit() {
        $('form').off('submit').on('submit', function (e) {
            e.preventDefault(); // Mencegah reload halaman

            var form = $(this);
            var actionUrl = form.attr('action'); // URL endpoint untuk update atau hapus item
            var formData = form.serialize(); // Serialize form data

            $.ajax({
                type: "POST",
                url: actionUrl,
                data: formData,
                success: function (response) {
                    if (response.success) {
                        $('#cart-section').load(location.href + " #cart-section > *", function () {
                            setTimeout(function () {
                                $('#cart-section').find('.card').css('weight', 'auto');
                            }, 100); // 100ms delay
                            bindFormSubmit();
                        });

                        $('#summarry').load(location.href + " #summarry", function () {
                            setTimeout(function () {
                                $('#summarry').find('.card').css('height', 'auto');
                            }, 100); // 100ms delay
                            bindFormSubmit();
                        });

                        $('#grandTotal').load(location.href + " #grandTotal > *", function () {
                            // Setelah memuat ulang, pastikan gaya dan layout tetap terjaga
                            setTimeout(function () {
                                // Pastikan tidak ada perubahan gaya setelah pemuatan
                                $('#grandTotal').find('.d-flex').css('display', 'flex'); // Menjaga flexbox tetap aktif
                                $('#grandTotal').find('h5').addClass('text-black'); // Menjaga warna tetap
                            }, 100); // Delay sedikit untuk memastikan semua elemen terload
                            bindFormSubmit(); // Bind ulang form submit handler jika ada perubahan
                        });


                    } else {
                        alert(response.error || "Terjadi kesalahan.");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("AJAX error:", error);
                    alert('Terjadi kesalahan. Silakan coba lagi.');
                }
            });
        });
    }

    $(document).ready(function () {
        // Bind form submit handler untuk semua form, termasuk update item dan keranjang
        bindFormSubmit();
    });


</script>
{% endblock %}