<!-- Hero -->
<section>
    <div class="container my-4">
        <div class="card rounded-5 overflow-hidden">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item ratio ratio-21x9 active" data-bs-interval="3500">
                        <img src="https://images.unsplash.com/photo-1529566652340-2c41a1eb6d93?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            class="d-block img-fluid object-fit-cover" alt="...">
                    </div>
                    <div class="carousel-item ratio ratio-21x9" data-bs-interval="3500">
                        <img src="https://images.unsplash.com/photo-1695712468478-789ccc733903?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            class="d-block img-fluid object-fit-cover" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>