<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-1"><strong>Nama Penjual:</strong> Langgeng
                    Catering</p>
                <p class="mb-1"><strong>No. Pesanan:</strong>
                    {{order.order_id}}
                </p>
                <p class="mb-1"><strong>Waktu Pembayaran:</strong> {{
                    order.transaction_time }}
                </p>
                <p class="mb-1"><strong>Metode Pembayaran:</strong> {{
                    order.payment_type }}</p>
                <p class="mb-1"><strong>Jasa Kirim:</strong> {% if
                    order.delivery_option == 'pickup' %}
                    Diambil di Toko
                    {% elif order.delivery_option == 'delivery' %}
                    Diantar Ke
                    {{order.user.addresses[order.address_index].address_type}}
                    {% else %}
                    Pilihan Pengiriman Tidak Diketahui
                    {% endif %}</p>
            </div>
            <div class="col-md-6">
                <p class="mb-1"><strong>Nama Pembeli:</strong>
                    {{order.user.name}}</p>
                <p class="mb-1"><strong>No. Handphone:</strong>
                    {{order.user.phone}}</p>
                <p class="mb-1"><strong>Alamat Pembeli:</strong></p>
                <p class="small">
                    {{order.user.addresses[order.address_index].full_address}}
                </p>
            </div>
        </div>
    </div>
    </div>

    <!-- Rincian Pesanan -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Rincian Pesanan</h5>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Produk</th>
                            <th>Variasi</th>
                            <th>Harga Produk</th>
                            <th>Kuantitas</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>


                        {% for item in order.items %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{ item.product.produkNama }}</td>
                            <td>{{ item.variant }}</td>
                            <td>{{ item.product.produkHarga | idr }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ (item.product.produkHarga * item.quantity) |
                                idr }}</td>
                        </tr>

                        {% endfor %}

                        <tr>
                            <td colspan="5" class="text-end">
                                <strong>Total</strong>
                            </td>
                            <td><strong>
                                    {{(order.grand_total - order.shipping_cost -
                                    order.vat )| idr}}
                                </strong>
                            </td>
                        </tr>
                    </tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Rincian Pembayaran -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Rincian Pembayaran</h5>
            <div class="row">
                <div class="col-md-6 offset-md-6">
                    <div class="d-flex justify-content-between mb-2">
                        <span>Subtotal Pesanan</span>
                        <span>{{(order.grand_total - order.shipping_cost -
                            order.vat )| idr}}</span>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <span>Subtotal Pengiriman</span>
                        <span>{{order.shipping_cost | idr}}</span>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <span>PPN (11%) </span>
                        <span>{{order.vat | idr}}</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between fw-bold">
                        <span>Total Pembayaran</span>
                        <span>{{order.grand_total | idr}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="mt-4 text-center small">
        <p>Langgeng Catering</p>
        <p>Jl.DR . Setia Budi No 38 Kembang Baru RT 002/RW001<br> Kec. Brebes, Kabupaten Brebes,
            Jawa Tengah 52212
        </p>
    </div>

</body>