{% extends "user/base.html" %}

{% block title %}Invoice {{ transaction.order_id }}{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="card shadow-lg rounded-lg border-0" id="content-pdf">
        <!-- Card Header -->
        <div class="card-header text-center">
            <h3 class="display-4">Invoice</h3>
            <div class="d-flex justify-content-between flex-wrap">
                <p>Order ID: <strong>{{ transaction.order_id }}</strong></p>
                <p class="fs-4"><strong>Status: {{ transaction.payment_status }}</strong></p>
            </div>
        </div>

        <div class="card-body">
            <div class="row mb-4">
                <!-- Informasi Pelanggan -->
                <div class="col-md-6">
                    <h5>Informasi Pelanggan</h5>
                    <p><strong>Nama:</strong> {{ transaction.user.name }}</p>
                    <p><strong>Email:</strong> {{ transaction.user.email }}</p>
                    <p><strong>No. Telepon:</strong> {{ transaction.user.phone }}</p>
                    <p><strong>Alamat:</strong> {{ transaction.user.addresses[transaction.address_index].full_address }}</p>
                </div>
                

                <!-- Alamat Toko -->
                <div class="col-md-6">
                    <h5>Alamat Toko</h5>
                    <p><strong>Nama Toko:</strong> Langgeng Catering</p>
                    <p><strong>Email:</strong> info@langgengcatering.web.id</p>
                    <p><strong>Telepon:</strong> +62 857 4280
                        <p><strong>Alamat:</strong> Jl. Dr.Setiabudi No 38 Kembang Baru RT02 RW01,
                            Kec. Brebes, Kabupaten Brebes, Jawa Tengah 52212</p>
                        7503</p>
                </div>
            </div>

            <!-- Rincian Pesanan -->
            <h5 class="mb-4">Rincian Pesanan</h5>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr class="table-dark">
                        <th>Item</th>
                        <th>Harga</th>
                        <th>Jumlah</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in transaction.items %}
                    <tr>
                        <td>
                            <strong class="mb-0 fw-bold">
                                {% if item.variant %}
                                {{ item.product.produkNama }} - {{ item.variant }}
                                {% else %}
                                {{ item.product.produkNama }}
                                {% endif %}
                            </strong>
                        </td>
                        <td class="text-end">{{ item.product.produkHarga | idr }}</td>
                        <td class="text-center">{{ item.quantity }}</td>
                        <td class="text-end">{{ (item.product.produkHarga * item.quantity) | idr }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Total Harga -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <h5>Total Harga</h5>
                </div>
                <div class="col-md-6 text-end">
                    <h5>{{ total_harga | idr }}</h5>
                </div>
            </div>

            <!-- PPN dan Ongkir -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <p><strong>PPN (11%):</strong></p>
                    <p><strong>Ongkir:</strong></p>
                </div>
                <div class="col-md-6 text-end">
                    <p>{{ transaction.vat | idr }}</p>
                    <p>{{ transaction.shipping_cost | idr }}</p>
                </div>
            </div>

            <!-- Grand Total -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <h4 class="font-weight-bold">Total Bayar:</h4>
                </div>
                <div class="col-md-6 text-end">
                    <h4 class="font-weight-bold text-success">{{ transaction.grand_total | idr }}</h4>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Tombol Kembali dan Download PDF -->
    <div class="d-flex justify-content-end mx-2 mt-4">
        <a href="{{ url_for('main.order') }}" class="btn btn-secondary me-2">Kembali</a>
        <!-- <form action="{{ url_for('main.download_pdf', transaction_id=transaction.transaction_id) }}" method="POST">
            
            <button type="submit">Download PDF</button>
        </form>
        <a href="#" class="btn btn-success">Download PDF</a> Tautkan ke fungsi untuk mendownload PDF -->
    </div>
</div>
{% endblock %}
