<!-- templates/navbar.html -->
<!-- Navbar start -->

<nav class="navbar navbar-light bg-white navbar-expand-xl shadow rounded-bottom-5 p-2 sticky-top">
    <div class="container">
        <a href="index.html" class="navbar-brand d-none d-md-flex">
            <h1 class="text-primary fs-3 fw-bold">LanggengCatering</h1>
        </a>


        <div class="navbar-nav mx-auto d-none d-lg-flex">
            <a href="{{ url_for('main.index') }}"
                class="nav-item nav-link {% if request.endpoint == 'main.index' %} active {% endif %}">Home</a>
            <a href="{{ url_for('main.shop') }}"
                class="nav-item nav-link {% if request.endpoint == 'main.shop' %} active {% endif %}">Shop</a>
            <a href="" class="nav-item nav-link">Galeri</a>

        </div>
        <div class="d-flex me-0">

            <form class="d-flex w-auto my-2 my-lg-0" action="" method="get">
                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">
                    <i class='bx bx-search-alt'></i>
                </button>
            </form>

            <div class="d-flex ms-3 me-0">

                {% if session.get('user_id') %}
                <!-- Display when logged in -->
                <div class="dropdown my-auto">
                    <a href="{{ url_for('main.cart') }}" class="position-relative me-4" id="cartDropdown">
                        <i class='bx bx-cart-alt fs-2'></i>
                        {% if cart_count > 0 %}
                        <span
                            class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                            style="top: -18px; left: 20px; height: 20px; min-width: 20px;">
                            {{ cart_count }}
                        </span>
                        {% endif %}

                        <ul class="dropdown-menu dropdown-menu-end my-2 cartDropdown" style="width:300px; "
                            id="cartDropdown">
                            <li class="px-3 py-2 d-flex align-items-center">
                                <h5 class="mb-0">Keranjang Saya ( {{ cart_items | length }} )</h5>
                                <a href="{{url_for('main.cart')}}" class="ms-auto text-primary">Lihat</a> <!-- Right aligned "Lihat" -->
                            </li>

                            {% if cart_items %}
                            {% for items in cart_items %}
                            <li class="px-3 py-2">
                                <div class="d-flex">
                                    <img src="{{ url_for('image.image', image_id=items.product.id) }}" alt="Item 1"
                                        class="img-fluid me-3 rounded" style="width: 60px; height: 60px;">
                                    <div>
                                        <h6 class="mb-0 fw-bold">{{items.product.produkNama}}</h6>
                                        <small>{{items.quantity}} x {{items.product.produkHarga | idr }}</small>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <li class="px-5 py-2 text-center">

                                <div>
                                    <h6 class="mb-0">Keranjang Masih Kosong Nih</h6>
                                    <a href="{{ url_for('main.shop') }}" class="btn btn-primary mt-4">Belanja
                                        Sekarang</a>
                                </div>

                            </li>
                            {% endif %}
                        </ul>


                    </a>
                </div>
                <div class="dropdown my-auto">

                    <a class="position-relative me-4">
                        <i class='bx bx-bell fs-2'></i>
                        <span
                            class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                            style="top: -18px; left: 20px; height: 20px; min-width: 20px;">

                        </span>
                    </a>
                </div>
                <div class="dropdown my-auto d-lg-flex d-none">
                    <a href="{{url_for('main.profile')}}" id="profileDropdown">
                        <i class='bx bxs-user fs-2'></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end my-2 profileDropdown">
                        <li><a class="dropdown-item d-flex justify-content-between align-items-center"
                                href="{{ url_for('main.profile') }}">Profile<i class='bx bx-user'></i></a></li>
                        <li><a class="dropdown-item d-flex justify-content-between align-items-center"
                                href="{{ url_for('main.order') }}">Pesanan<i class='bx bx-receipt'></i></a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item d-flex justify-content-between align-items-center"
                                href="{{ url_for('auth.logout') }}">Logout<i class='bx bx-log-out-circle'></i></a></li>
                    </ul>
                </div>



                {% else %}
                <!-- Display when not logged in -->
                <div class="d-lg-flex d-none">
                    <a href="{{ url_for('auth.login') }}" class="btn btn-primary me-2 text-white">Login</a>
                    <a href="{{ url_for('auth.register') }}" class="btn btn-outline-secondary">Register</a>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</nav>



<!-- Navbar Bottom for small screens -->
<div class="container-fluid fixed-bottom d-flex d-lg-none bg-white rounded-top shadow shadow-sm">
    <nav class="navbar navbar-light navbar-expand-sm w-100">
        <div class="container p-0">
            <div class="d-flex justify-content-around w-100">
                <a href="{{ url_for('main.index') }}"
                    class="nav-item nav-link d-flex align-items-center {% if request.endpoint == 'main.index' %} bg-primary text-white rounded-pill p-3 {% endif %}">
                    <i class='bx bx-home-alt'></i>
                    {% if request.endpoint == 'main.index' %}
                    <small class="ms-2 ">Home</small>
                    {% endif %}
                </a>
                <a href="{{ url_for('main.shop') }}"
                    class="nav-item nav-link d-flex align-items-center {% if request.endpoint == 'main.shop' %} bg-primary text-white rounded-pill p-3 {% endif %}">
                    <i class='bx bx-store'></i>
                    {% if request.endpoint == 'main.shop' %}
                    <small class="ms-2">Shop</small>
                    {% endif %}
                </a>
                <a href="{{ url_for('main.order') }}"
                    class="nav-item nav-link d-flex align-items-center {% if request.endpoint == 'main.order' %} bg-primary text-white rounded-pill p-3 {% endif %}">
                    <i class='bx bx-receipt'></i>
                    {% if request.endpoint == 'main.order' %}
                    <small class="ms-2">Pesanan</small>
                    {% endif %}
                </a>
                <a href="{{ url_for('main.profile') }}"
                    class="nav-item nav-link d-flex align-items-center {% if request.endpoint == 'main.profile' %} bg-primary text-white rounded-pill p-3 {% endif %}">
                    <i class='bx bx-user'></i>
                    {% if request.endpoint == 'main.profile' %}
                    <small class="ms-2">Profile</small>
                    {% endif %}
                </a>
            </div>
        </div>
    </nav>
</div>

<!-- Navbar End -->