{% extends 'user/base.html' %}
{% block title %}
Riwayat Pemesanan
{% endblock %}
{% set Navbar = True %}
{% set footer = True %}
{% block content %}
<div class="container mt-4">
    {% if orders %}

    <h2 class="mb-4">Riwayat Pemesanan Saya</h2>
    <!-- Card layout for order history -->
    <!-- Loop through each order -->
    {% for order in orders %}
    <div class="row">
        <div class="col">
            <div class="card mb-4 shadow-lg border-0 p-4">
                <!-- Order Details -->
                <div class="card-header bg-white d-flex justify-content-between align-items-center border-0">
                    <div>
                        <h6 class="card-title mb-0">{{ order.order_id }}</h6>
                        <p class="card-text mb-0">
                            <small class="text-muted">Tanggal {% if order.delivery_option == 'pickup' %} Pengambilan {%
                                else %} Pengiriman {% endif %}: {{ order.delivery_date }}</small>
                        </p>
                    </div>
                    <!-- Payment Status -->
                    {% if order.payment_status == 'pending' %}
                    <span class="badge bg-danger text-white">Pending</span>
                    {% elif order.payment_status == 'error' %}
                    <span class="badge bg-danger text-white">Error</span>
                    {% else %}
                    <span class="badge bg-success text-white">{{ order.payment_status | title }}</span>
                    {% endif %}
                </div>

                <!-- Product List -->
                <div class="card-body">
                    <div class="product-list">
                        {% for item in order.items %}
                        <div class="d-flex justify-content-start align-items-center mb-3">
                            <img src="{{ url_for('image.image', image_id=item.product.id) }}"
                                alt="{{ item.product.produkNama }}" class="img-fluid rounded me-3"
                                style="width: 100px; height: 100px;">
                            <div class="flex-grow-1">
                                <p class="mb-1"><strong>{{ item.product.produkNama }}</strong></p>
                                <p class="mb-1 text-muted">{{ item.quantity }} x {{ item.product.produkHarga | idr }}
                                </p>
                            </div>
                            <div class="text-end">
                                <p class="mb-1"><strong>Total: {{ (item.product.produkHarga * item.quantity) | idr
                                        }}</strong></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Order Footer and Modal Trigger -->
                <div class="card-footer bg-white border-0 d-flex justify-content-between align-items-center">
                    <p class="mb-0">Total Harga: <strong>{{ order.grand_total | idr }}</strong></p>

                    <!-- Payment Button or Receipt Modal Trigger -->
                    {% if order.payment_status == 'pending' %}
                    <button class="btn btn-primary btn-pay-now ms-5 rounded-5 px-4" data-snap-token="{{ order.token }}"
                        data-order-id="{{ order.order_id }}">
                        Bayar Sekarang
                    </button>
                    {% else %}
                    <!-- Modal Trigger Button -->
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#orderReceiptModal{{ order.grand_total }}">
                        Lihat Struk
                    </button>

                    <!-- Modal Structure -->
                    <div class="modal fade" id="orderReceiptModal{{ order.grand_total }}" tabindex="-1"
                        aria-labelledby="orderReceiptModalLabel{{ order.order_id }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="orderReceiptModalLabel{{ order.order_id }}">Struk
                                        Pembayaran</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Hi {{ order.user.name }},</p>
                                    <p>Ini adalah struk pembayaran sebesar <strong>{{ order.grand_total | idr
                                            }}</strong> untuk pesanan Anda.</p>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p><strong>Nomor Pembayaran:</strong> {{ order.order_id }}</p>
                                        </div>
                                        <div>
                                            <p><strong>Tanggal Pembayaran:</strong> {{ order.transaction_time }}</p>
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="d-flex justify-content-between">
                                        <div><strong>Client</strong><br>{{ order.user.name }}<br>{{ order.user.address
                                            }}<br>{{ order.user.phone }}<br>{{ order.user.email }}</div>
                                        <div><strong>Payment To</strong><br>Nama Penerima<br>Alamat Penerima<br>Kota
                                            Penerima<br>Kode Pos<br>Email Penerima</div>
                                    </div>

                                    <hr>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Description</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in order.items %}
                                            <tr>
                                                <td>{{ item.product.produkNama }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{{ (item.product.produkHarga * item.quantity) | idr }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <hr>

                                    <div class="d-flex justify-content-between">
                                        <div><strong>Extra Notes</strong><br></div>
                                        <div>
                                            <p><strong>Shipping:</strong> {{ order.shipping_cost | idr }}</p>
                                            <p><strong>Total:</strong> {{ order.grand_total | idr }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Tutup</button>
                                    <button type="button" class="btn btn-primary">Cetak Struk</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <p>Anda belum memiliki pesanan.</p>
    {% endif %}

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js"
    data-client-key="client_key"></script>
<script>
    $(document).ready(function () {
        $('.btn-pay-now').on('click', function (event) {
            event.preventDefault();

            // Ambil snap_token dan order_id dari atribut tombol
            var snapToken = $(this).data('snap-token');
            var orderId = $(this).data('order-id');

            if (snapToken) {
                // Tampilkan Snap popup menggunakan token yang diambil
                snap.pay(snapToken, {
                    onSuccess: function (result) {
                        alert('Pembayaran berhasil!');
                        window.location.href = "/order/history?status=success"; // Redirect ke riwayat pesanan
                    },
                    onPending: function (result) {
                        alert('Pembayaran pending!');
                        window.location.href = "/order/history?status=pending"; // Redirect ke riwayat pesanan
                    },
                    onError: function (result) {
                        alert('Pembayaran gagal!');
                    },
                    onClose: function () {
                        alert('Pembayaran dibatalkan.');
                    }
                });
            } else {
                alert('Gagal mendapatkan token pembayaran.');
            }
        });
    });
</script>
{% endblock %}