<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="{{ url_for('admin.index') }}" class="app-brand-link">
        <span class="text-primary fs-3 fw-bold">Langgeng <span>Catering</span></span>
      </a>
  
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>
  
    <div class="menu-inner-shadow"></div>
  
    <ul class="menu-inner py-1 my-2">
      <!-- Dashboard -->
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Dashboard</span>
      </li>
      <li class="menu-item {% if request.endpoint == 'admin.index' %} active {% endif %}">
        <a href="{{ url_for('admin.index') }}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>
  
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Menu</span>
      </li>
      <li class="menu-item {% if request.endpoint in ['admin.produk', 'admin.tambah_produk', 'admin.kategori']  %} active {% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-food-menu"></i>
          <div>Menu</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item {% if request.endpoint == 'admin.produk' %} active {% endif %}">
            <a href="{{url_for('admin.produk')}}" class="menu-link">
              <div>Daftar Menu</div>
            </a>
          </li>
          <li class="menu-item {% if request.endpoint == 'admin.tambah_produk' %} active {% endif %}">
            <a href="{{url_for('admin.tambah_produk')}}" class="menu-link">
              <div>Tambah Menu</div>
            </a>
          </li>
          <li class="menu-item {% if request.endpoint == 'admin.kategori' %} active {% endif %}">
            <a href="{{url_for('admin.kategori')}}" class="menu-link">
              <div>Daftar Kategori</div>
            </a>
          </li>
        </ul>
      </li>
      <!-- Pesanan -->
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Pesanan</span>
      </li>
      <li class="menu-item">
        <a href="cards-basic.html" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-receipt"></i>
          <div data-i18n="Basic">Pesanan</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="ui-carousel.html" class="menu-link">
              <div>Daftar Pesanan</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-tooltips-popovers.html" class="menu-link">
              <div>Detail Pesanan</div>
            </a>
          </li>
        </ul>
      </li>
      <!-- Laporan -->
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Laporan</span>
      </li>
      <li class="menu-item">
        <a href="cards-basic.html" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bxs-report"></i>
          <div data-i18n="Basic">Laporan</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="ui-carousel.html" class="menu-link">
              <div>Laporan Tahunan</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-tooltips-popovers.html" class="menu-link">
              <div>Laporan Bulanan</div>
            </a>
          </li>
        </ul>
      </li>
      <!-- Logout -->
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Akun</span>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">
          <i class="menu-icon tf-icons bx bx-log-out"></i>
          <div data-i18n="Logout">Logout</div>
        </a>
      </li>
    </ul>
</aside>

