{% extends 'admin/base.html' %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">

    <form action="{{ url_for('admin.tambah_produk') }}" method="POST" enctype="multipart/form-data">
        <div class="row my-1">
            <div class="col d-md-flex d-block">
                <h1>Tambah Menu</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mb-3">
                <!-- Product Information -->
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-tile mb-0">Nama Menu</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="ecommerce-product-name" placeholder="Nama Menu"
                                name="productTitle" aria-label="Product title" value="{{ old_data['productTitle']}}"
                                required>
                        </div>
                    </div>
                </div>
                <!-- /Product Information -->

                <!-- Media -->
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0 card-title">Gambar Menu</h5>
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile04"
                                aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="productImg" required>

                            {% if old_image %}
                            <h2>Gambar Lama:</h2>
                            <img src="data:image/jpeg;base64,{{ old_image|b64encode }}" alt="Gambar Produk Lama">
                            {% endif %}

                        </div>
                    </div>
                </div>
                <!-- /Media -->

                <!-- Harga -->
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Harga Menu</h5>
                    </div>
                    <div class="card-body">
                        <div data-repeater-list="group-a">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Rp</span>
                                <input type="number" name="productPrice" class="form-control"
                                    aria-label="Amount (to the nearest dollar)" placeholder="1000"
                                    value="{{ old_data['productPrice']}}" required>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Harga -->
                <!-- Pembelian -->
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Minimal Pembelian</h5>
                    </div>
                    <div class="card-body">
                        <input type="number" class="form-control" id="ecommerce-product-name" placeholder="Minimal"
                            name="minPembelian" aria-label="Product title" required
                            value="{{ old_data['minPembelian']}}">
                    </div>
                </div>
                <!-- /Pembelian -->

            </div>
            <div class="col">
                <!-- Variants -->
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title">Varian Menu <span><small>(Opsional)</small></span></h5>
                    </div>
                    <div class="card-body">
                        <div id="variant-container">
                            {% for variant in old_data['variant_name'] or [] %}
                            <div class="row mb-3 variant-row">
                                <div class="col-8">
                                    <input type="text" class="form-control" name="variant_name[]"
                                        placeholder="Masukan Varian Menu" value="{{ variant }}">
                                </div>
                                <div class="col-4">
                                    <button type="button" class="btn btn-danger remove-variant">
                                        <i class="bx bx-minus bx-sm"></i>
                                        <span class="d-none d-sm-inline">Hapus</span>
                                    </button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Tombol untuk menambah varian baru -->
                        <button type="button" class="btn btn-primary add-variant">
                            <i class="bx bx-plus bx-sm"></i>
                            <span class="d-none d-sm-inline">Varian</span>
                        </button>
                    </div>
                </div>
                <!-- /Variants -->



                <!-- Kategori -->
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h5 class="card-title mb-0">Kategori Menu</h5>
                        <button class="btn btn-primary ms-auto" data-bs-toggle="modal"
                            data-bs-target="#tambahKategoriModal">
                            <i class="bx bx-plus bx-sm me-2"></i>Kategori
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Options</label>
                            <select class="form-select" id="inputGroupSelect01" name="productCategory" required>
                                <option selected disabled value="">Pilih Kategori</option>
                                {% for kategori in kategoris %}
                                <option value="{{ kategori.id }}" {% if old_data.productCategory==kategori.id|string %}
                                    selected {% endif %}> <!-- Perbandingan menggunakan string -->
                                    {{ kategori.kategoriNama }}
                                </option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>
                </div>
                <!-- /Kategori -->

            </div>
        </div>
        <button type="submit" class="btn btn-primary ms-auto">
            <i class="bx bx-save bx-sm"></i>
            Simpan Menu
        </button>
    </form>

</div>

<!-- Modal untuk Tambah Kategori -->
<form action="{{ url_for('admin.kategori', next=request.url) }}" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="tambahKategoriModal" tabindex="-1" aria-labelledby="tambahKategoriLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tambahKategoriLabel">Tambah Kategori</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="kategoriNama" class="form-label">Nama Kategori</label>
                        <input type="text" class="form-control" id="kategoriNama" name="kategoriNama"
                            placeholder="Masukkan nama kategori" required>
                    </div>
                    <div class="mb-3">
                        <label for="kategoriGambar" class="form-label">Gambar</label>
                        <input type="file" class="form-control" id="kategoriGambar" name="kategoriGambar"
                            aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="submit" class="btn btn-primary">Simpan Kategori</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /Modal untuk Tambah Kategori -->

<script>

    $(document).ready(function () {
        // Menangani tombol tambah varian (+)
        $('.add-variant').on('click', function () {
            const variantRow = `
                <div class="row mb-3 variant-row">
                    <div class="col-8">
                        <input type="text" class="form-control" name="variant_name[]" placeholder="Masukan Varian Menu">
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-danger remove-variant">
                            <i class="bx bx-minus bx-sm"></i>
                            <span class="d-none d-sm-inline">Hapus</span>
                        </button>
                    </div>
                </div>
            `;
            $('#variant-container').append(variantRow);
        });

        // Menangani tombol hapus varian (-)
        $('#variant-container').on('click', '.remove-variant', function () {
            // Menghapus baris varian yang diklik
            $(this).closest('.variant-row').remove();
        });
    });
</script>

{% endblock %}